<html lang="en">
  <head>
    {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main Part -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/5.png"
                  alt="image"
                  class="img-fluid"
                  title="Nil Golakiya"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I Am A
                <span class="text_color"> Mern Stack Developer </span>
                And Freelancer
              </h1>
              <a href="/weather"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>